<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>St. Martin Project</title>

<!-- CSS -->

</head>
<link rel="stylesheet" href="css/homePage.css">
<body>



	<div>
		<div style="float: left; width: 100%; height: 300px;"></div>
		<!-- Overlay for the image  -->
		<div class="overlayHome"></div>
		<div style="float: left; width: 100%; height: 30%; opacity: 0.7">
			<div class="float-left-w-100">
				<div class="float-left-w-49">
					<button data-ng-click="setSelection('PEO')"
						class="btn-project btn btn-primary btn-people-animation">People</button>
				</div>
				<div class="float-left-w-49">
					<button data-ng-click="setSelection('NOF')"
						class="btn-project btn btn-natureOfCase btn-natureOfCase-animation">Nature
						of case</button>
				</div>
			</div>
			<div class="float-left-w-100" align="center" data-ng-if="!home.isCPHA">
				<button data-ng-click="setSelection('ACT')"
					class="btn-project btn btn-second btn-activities-animation">Activities</button>
			</div>
			<div class="float-left-w-100" data-ng-if="home.isCPHA">
				<div class="float-left-w-49" >
					<button data-ng-click="setSelection('ACT')" style="margin-left:40%"
						class="btn-project btn-second btn-activities-animation">Activities</button>
				</div>
				<div class="float-left-w-49">
					<button data-ng-click="setSelection('PAY')"
						class="btn-project btn btn-payment btn-payment-animation">Payment</button>
				</div>
			</div>
		</div>


	</div>
	<div style="width: 99%; height: 1000px;">&nbsp;</div>
</body>
</html>
