body {
  padding: 10px;
/*   margin: 5px; */
  height: 100%;
  
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, white,#E8332A); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, white, #E8332A); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, white, #E8332A);  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right,  white, #E8332A); /* Standard syntax */
  
}

.gridStyle {
	border-radius:5px ;
    border: 2px solid #E8332A;
    width: 80%; 
    height: 420px;
}

.gridNotesStyle {
	border-radius:10 ;
	border: 1px solid #E8332A;
    width: 70%; 
    height: 150px;
}

.ngFooterPanel   {
  background-color: #fff;
  padding: 0;
  position: relative;
  border-top-color: #E8332A;
}

.ngTopPanel   {
  color: #fff;
  z-index: 1;
  background-color: #E8332A;
  border-bottom: 1px solid #d4d4d4;
}

.ngRow.even {
  background-color: #F9C8C6;
}

.ngRow.even:hover {
  background-color: rgb(242, 141, 138)	;
}
.ngRow.odd:hover {
  background-color: rgb(242, 141, 138);
}

.ngRow.selected {
  background-color: rgb(242, 141, 138);
}	
.panel-primary {
  border-color: #E8332A;
  background-color: #F9C8C6;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #E8332A;
  border-color: #F9C8C6;
}

.btn-primary {
  color: #fff;
  background-color: #E8332A;
  border-color: #F9C8C6;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active{
  color: #F7EEA5;
  background-color: rgb(242, 141, 138);
  border-color:  rgb(242, 141, 138);
}

a {
  color: #E8332A;
  text-decoration: none;
}

#userNavigationBar {
  background-color: #E8332A;
}

.formMainSpan select, .formMainSpan input {
    min-width: 80%;
    height: 25px;
    border: 2px SOLID rgb(242, 141, 138);
    border-radius: 5px;
}