<div class="loginDiv gradient">
	<form name="items.changePwdForm" novalidate>
		<div style="margin: 20% 20% 20% 20%;">
		
			<div style="color: white; font-size: 25px" align="center">
				<b>CHANGE PASSWORD</b>
			</div>

			<div>&nbsp;</div>
			<div class="inputLoginLabel">Username:</div>
			<div>
				<input required type="text" data-ng-model="items.password.userName"
					class="inputLoginField" />
			</div>
			<div>&nbsp;</div>
			<div class="inputLoginLabel">Old password:</div>
			<div>
				<input required type="password" data-ng-model="items.password.oldPassword"
					class="inputLoginField" />
			</div>

			<div>&nbsp;</div>
			<div class="inputLoginLabel">New Password:</div>
			<div>
				<input required type="password" data-ng-model="items.password.newPassword"
					class="inputLoginField" />
			</div>

			<div>&nbsp;</div>
			<div class="inputLoginLabel">New password confirm:</div>
			<div>
				<input required type="password" data-ng-model="items.password.newPasswordConfirm"
					class="inputLoginField" />
			</div>

			<div>&nbsp;</div>
			<div class="float-left-w-100">
				<div class="float-left-w-49">
					<button type="submit" data-ng-click="changePassword(items)" data-ng-disabled="items.changePwdForm.$invalid"
						class="btn btn-primary loginButton borderBottomLogin ">OK</button>
				</div>
				<div class="float-left-w-49">
					<button  data-ng-click="submitCancel()" 
						class="btn btn-primary loginButton borderBottomLogin borderLeftLogin">CANCEL</button>
				</div>
			</div>
		</div>
	</form>
</div>